<h1> Sample App</h1>

<p> Hello <%= @user.name %></p>

Sample App

Hello  <%= @user.name %> 
Welcome to this simply app. Click the link below to activate your account

<%=  link_to "Activate",edit_account_activation_url(@user.activation_token,
                                                    email: @user.email)  %>